<div class="hero-unit">
  <div class="row">
	<div class="search_form">
	  <% provide(:title, 'Contact') %>
	  <h2>Contact</h2>
	  <p>
	  Email <a href="mailto:eli@streetdate.info" target="_blank">me</a> with 	questions or suggestions. Be nice.
	  </p>
	  <p>
	  We're on Twitter: <a href="https://twitter.com/StreetDateInfo" target="_blank">@StreetDateInfo</a>
	  </p>
	</div>
  </div>
</div>
