<div class="hero-unit">
  <div class="row">
	<div class="search_form">

	  <% provide(:title, 'Help') %>
      <h2>Help</h2>
	  <p>
  	  So far this is fairly self-explanatory. We will expand this section 
      as we add features and functionality.
  
      In the meantime, contact <a href="mailto:eli@streetdate.info" target="_blank">me</a> 
      if you need anything.
      </p>
	</div>
  </div>
</div>