<div class="hero-unit">
  <div class="center row">

    <%= render "search_form" %>

  </div>

  <%= render "instructions" %>
	
</div>
	
<% if @term.nil? %>
	<br>
<% else %>
	<% if @search.count > 0 %>
	  <%= render "search_results" %>
	<% else %>
	  <%= render "no_search_results" %>
	<% end %>
<% end %>

