<table style="height:40px;margin: 0 9px;width:80%;align:center;margin-left:10%;margin-right:10%;border:0px;">
  <tr>
	<td>
	  <footer style=" margin-top:45px;padding-top:5px;border-top:1px solid #eaeaea;color:#999999;">
        <small style="float:left;">
  	      <a href="http://streetdate.info" style="color:#555555;text-decoration:none;">
		    streetdate.info
		  </a>
        </small>
        <nav>
          <ul style="float:right;list-style:none;margin-top:0px;">
            <li style="float:left;margin-left:10px;">
	  	      <a href="http://streetdate.info/contact" style="color:#555555;text-decoration:none;">
			    Contact
			  </a>
	        </li>
          </ul>
        </nav>
      </footer>
	</td>
  </tr>	
</table>
